Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 10 - Insert a markdown cell to list Objectives

<b>Objectives:</b>
<ul>
<li>Popular languages for Data Science</li>
<li>Libraries used in Data Science</li>
<li>Data Science open source tools</li>
<li>Ways to evaluate Arithmetic expressions</li>  
</ul>

Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
<ol>
<li>Numpy</li>
<li>Pandas</li>
<li>sklearn</li>
</ol>

#### Exercise 6 - Create a markdown cell with a table of Data Science tools
Create a single column table in this cell with the first row containing the header Data Science Tools. The subsequent three rows in the table should indicate three development environment open source tools used in data science.

<table style="width:20%">
<tr>    
<th>Data Science Tools</th>  
</tr>    
<tr>    
<td>Jupyter Notebook</td>  
</tr>    
<tr>
<td>R Studio</td>  
</tr>    
<tr>
<td>Zeppelin Notebook</td> 
</tr>    
</table>

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

Exercise 8 - Create a code cell to multiply and add numbers

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

Exercise 9 - Create a code cell to convert minutes to hours

In [7]:
#This will convert 200 minutes to hours by diving by 60
round(200/60,2)

3.33

Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Sabita Mohanty